/*
	COLOUR: #890000
*/

.opulant {
	background: #fff;
	padding: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
}

.opulant h1 {
	text-align: right;
	color: #890000;
	font-size: 42px;
	line-height: 42px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 7px;
}

.opulant .address {
	background: #333;
	color: #fff;
	text-align: right;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 11px;
}

.opulant .section {
	margin-top: 25px;
}

.opulant .section .h2_wrapper {
	display: inline-block;
	background: #fff;
	padding-bottom: 4px;
	border-bottom: 2px solid #890000;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	color: #890000;
	margin-bottom: 5px;
	font-weight: bold;
}

.opulant .zipcode_comma {
	display: block;
	visibility: hidden;
	height: 0px;
}

.opulant .section[data-type="paragraph"], .opulant .section[data-type="conclusion"], .opulant .section[data-type="introduction"] {
	border-top: 0 none;
}

.opulant .section .event .company, .opulant .section .event .title, .opulant .section .event .date {
	font-weight: bold;
	font-size: 15px;
	line-height: 23px;
	display: inline-block;
}

.opulant .section .event {
	margin-bottom: 20px;
}

.opulant .section .event .date {
	float: right;
}

.opulant .section .event .event_title_clear {
	display: inline-block;
}