/*
	COLOUR: #4498A9
*/

.stately {
	background: #fff;
	padding: 70px;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 13px;
	line-height: 20px;
	color: #111;
}

.stately h1 {
	border-bottom: 5px solid #4498A9;
	padding: 0px 7px 7px;
	color: #4498A9;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	font-variant: small-caps;
}

.stately .address {
	text-align: center;
	margin-top: 8px;
	padding-bottom: 20px;
}

.stately .section {
	border-top: 2px solid #4498A9;
	margin-top: 35px;
}

.stately .section .h2_wrapper {
	color: #4498A9;
	text-align: center;
	margin-top: -24px;
}

.stately .section h2 {
	display: inline-block;
	background: #fff;
	padding: 10px;
	font-variant: small-caps;
	font-size: 19px;
	line-height: 25px;
	margin-bottom: -5px;
}

.stately .zipcode_comma {
	display: block;
	visibility: hidden;
	height: 0px;
}

.stately .section[data-type="paragraph"], .stately .section[data-type="conclusion"], .stately .section[data-type="introduction"] {
	border-top: 0 none;
}

.stately .section .event .company, .stately .section .event .title, .stately .section .event .date {
	font-variant: small-caps;
	font-size: 15px;
	line-height: 23px;
	display: inline-block;
}

.stately .section .event {
	margin-bottom: 20px;
}

.stately .section .event:last-child {
	margin-bottom: 0;
}

.stately .section .event .date {
	float: right;
	text-align: right;
}

.stately .section .event .event_title_clear {
	display: inline-block;
}

.stately .pre_address, .stately .subhead {
	display: none;
}